/* Reset some default styles */
body,
header,
nav,
ul,
li,
footer,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Apply basic styles to the website */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 40px;
}

main {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

img.image {
  max-width: 100%;
  max-height: 225px; /* Adjust the height as desired */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
  max-height: 250px;
  overflow: auto;
  text-align: center;
}

.footer-column h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.footer-column p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #ccc;
  font-size: 12px;
}
