/* Reset default margin and padding */
body,
header,
nav,
ul,
li,
footer,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Apply basic styles to the website */
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Barlow', sans-serif;
  /* background-color: #f1f1f1;*/
  /* background-color: rgba(0, 0, 0, 0); */
  /* color: rgb(255, 255, 255); */
  /* background-color: transparent; */
  /* background-color: #ccc3c6; */
  /* background-color: #ffd5d52b; */

  background: rgb(29, 45, 77, 1);
  color: rgb(242, 245, 247);

  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.introduction {
  background-image: url('image4.jpg'); /* Replace 'your-image-url.jpg' with the actual image file path or URL */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fixed background image */
}

header {
  --tw-bg-opacity: 1;
  background-color: rgb(18 30 119 / var(--tw-bg-opacity));
  background-color: #00000052;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

main {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 600; */
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

#location {
  text-align: center;
}

img.image {
  max-width: 100%;
  max-height: 225px;
  margin-bottom: 20px;
}

/* Your CSS styles here */
.carousel {
  width: 100%;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  /* background-color: #333; */
  --tw-bg-opacity: 1;
  background-color: #00000052;
  color: #fff;
  padding: 10px 20px;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 0.1rem;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 10px;
  word-spacing: -0.1em;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #ccc;
  font-size: 12px;
}

#contact p a {
  color: inherit;
  text-decoration: none;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
}

.carousel img {
  width: 50%;
  height: auto;
}

.sub-head {
  text-align: center;
  /* color: #333; */
  font-weight: bold;
  align-items: center;
}

.sub-head p {
  margin-bottom: 0;
}

/* Additional styles for programs.html */
section ul {
  margin: 10px 0;
  padding-left: 0;
  text-align: initial;
}

section li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.1rem;
}

section li::before {
  content: '\2022';
  display: inline-block;
  width: 1em;
  margin-right: 5px;
  flex-shrink: 0;
}

/* Fix for section ul li p element */
section ul li p {
  text-indent: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

/* The scrollable part */

.scrollable {
  height: 165px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

th {
  position: sticky;
  background-color: #00000052;
  z-index: 2;
  top: 0;
}

img {
  width: 30%;
  height: fit-content;
}

/* Style the image container */
.image-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed for spacing */
  align-items: center; /* Vertically align images */
}

/* Style individual images (optional) */
.image-container img {
  max-width: 30%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive styles */
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  main {
    margin: 10px;
  }

  img.image {
    margin-bottom: 10px;
  }

  .carousel-cell img {
    max-height: 80vh;
  }

  .flickity-prev-button,
  .flickity-next-button {
    top: calc(50% - 20px);
  }

  .flickity-prev-next-button.previous {
    left: -45px;
  }

  .flickity-prev-next-button.next {
    right: -45px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    flex-basis: 100%;
    max-width: 100%;
    text-align: left;
    margin-bottom: auto;
  }

  .carousel img {
    height: auto;
    width: auto;
  }
}
