/* Reset some default styles */
body,
header,
nav,
ul,
li,
footer,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Apply basic styles to the website */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}

img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 33.33%;
}

.footer-column h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.footer-column p {
  font-size: 14px;
  color: #ccc;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #ccc;
  font-size: 12px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .footer-column {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
